<div class="mainContent">
    <form class="form-signin" #f="ngForm" novalidate (ngSubmit)="login(f)">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" required name="email" class="form-control" placeholder="Email" [ngModel]="credentials.email" #email="ngModel" tmFocus validateEmail>
            <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required name="password" placeholder="Password" ngModel>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Login</button>
        </div>

        <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{errors}}
        </div>

    </form>
</div>