<nav class="col-md-2 d-none d-md-block bg-light sidebar pt-3">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!userService.isLoggedIn()">
                <a class="nav-link" [routerLink]="['/login']">
                    <span class='glyphicon glyphicon-user'></span> Login
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="userService.isLoggedIn()">
                <a class="nav-link" (click)="userService.logout()">
                    <span class='glyphicon glyphicon-user'></span> Logoff
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/home']">
                    <span class='glyphicon glyphicon-home'></span> Home
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['/vehicles']">
                    <span class='glyphicon glyphicon-th-list'></span> Vehicles
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/vehicles/new/']">
                    <span class='glyphicon glyphicon-plus'></span>New Vehicle
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/counter']">
                    <span class='glyphicon glyphicon-education'></span> Counter
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/fetch-data']">
                    <span class='glyphicon glyphicon-th-list'></span> Fetch data
                </a>
            </li>
        </ul>
    </div>
</nav>